<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>Seren's Guidance</h3>
    <p>
      Seren's Guidance is een applicatie waar een gebruiker makkelijk guides kan opstellen voor verschillende
      games.
    </p>
    <p>
      gebruikers kunnen guides van andere gebruikers bekijken, een reactie achterlaten of een beoordeling
      geven.
    </p>
    <p>
      de gebruiker heeft de mogelijkheid om de resultaten te sorteren op release datum of populairiteit.
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img
          src="assets/images/person.jpg"
          class="card-img-top rounded-circle border profile-pic"
          alt="foto van mij"
        />
      </div>
      <div class="card-body">
        <h5 class="card-title">Kevin Kloet</h5>
        <p class="card-text">
          Studentnummer: 2138559
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-3">
    <p>User</p>
    <ul>
      <li>username: string</li>
      <li>id: ObjectId</li>
      <li>registrationDate: date</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>Guide</p>
    <ul>
      <li>title: string</li>
      <li>id: ObjectId</li>
      <li>gameTitle: string</li>
      <li>releaseDate: date</li>
      <li>lastUpdated: date</li>
      <li>content: string</li>
      <li>comments: ObjectId[]</li>
      <li>rating: Rating</li>
      <li>author: ObjectId</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>Comment</p>
    <ul>
      <li>id: ObjectId</li>
      <li>content: string</li>
      <li>creationDate: date</li>
      <li>lastUpdated: date</li>
      <li>author: ObjectId</li>
      <li>children: ObjectId[]</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-3">
    <p>AuthUser</p>
    <ul>
      <li>username: string</li>
      <li>id: ObjectId</li>
      <li>password: string</li>
      <li>user: ObjectId</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>
