<form [formGroup]="createGuideForm" (ngSubmit)="createGuide()">
  <div class="form-group">
    <label>title:</label>
    <div *ngIf="createGuideForm.controls.title.errors?.required && throwError" class="text-danger">
      * title is required.
    </div>
    <input class="form-control" formControlName="title" />
    <label>Game title</label>
    <input class="form-control" formControlName="gameTitle" />
    <label>Content</label>
    <div *ngIf="createGuideForm.controls.content.errors?.required && throwError" class="text-danger">
      * content is required.
    </div>
    <textarea class="form-control" formControlName="content" rows="10"></textarea>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-outline-dark" value="Submit" />
  </div>
</form>
