<form [formGroup]="registerForm">
  <fieldset>
    <legend>Register</legend>
    <div class="form-field">
      <label>Username:</label>
      <input name="username" formControlName="username" />
    </div>
    <div class="form-field">
      <label>Password:</label>
      <input name="password" formControlName="password" type="password" />
    </div>
  </fieldset>
  <div class="form-buttons">
    <button class="button button-primary" (click)="register()">
      Register
    </button>
  </div>
</form>
