<form *ngIf="guide" [formGroup]="updateGuideForm" (ngSubmit)="submit()">
  <div class="form-group">
    <label>title:</label>
    <div *ngIf="updateGuideForm.controls.title.errors?.required && throwError" class="text-danger">
      * title is required.
    </div>
    <input class="form-control" [(ngModel)]="guide.title" formControlName="title" />
    <label>Game title</label>
    <input class="form-control" [(ngModel)]="guide.gameTitle" formControlName="gameTitle" />
    <label>Content</label>
    <div *ngIf="updateGuideForm.controls.content.errors?.required && throwError" class="text-danger">
      * content is required.
    </div>
    <textarea class="form-control" [(ngModel)]="guide.content" formControlName="content" rows="10"></textarea>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-outline-dark" value="Update" />
  </div>
</form>
