.guide-item {
  padding: 10px;
  border: 2px solid rgba(200, 200, 200, 0.3);
}

.guide-item:hover {
  background-color: rgba(200, 200, 200, 0.3);
}

.guide-item *:not(h5):hover {
  text-decoration: none;
}

.btn-outline-dark:hover {
  background-color: rgba(200, 200, 200, 0.3);
  color: #343a40;
  border-color: #343a40;
}

app-rating,
h5 {
  display: inline-block;
}

.sortByContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sortByLabel {
  margin-right: 5px;
}
