<div class="d-flex w-100 justify-content-between">
  <h2>Guides</h2>
  <div class="sortByContainer">
    <div class="sortByLabel">Sort by:</div>
    <select class="form-control-sm" (change)="setSortBy($event.target.value)">
      <option value="">None</option>
      <option value="date">Release date</option>
      <option value="popular">Popularity</option>
    </select>
  </div>
  <button
    class="btn btn-outline-dark"
    routerLink="new"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    Create new guide
  </button>
</div>
<div class="list-group">
  <router-outlet></router-outlet>
  <div *ngFor="let guide of guides" class="guide-item">
    <div class="w-100">
      <app-rating [guideId]="guide.id" [ratings]="guide.ratings"></app-rating>
      <a
        routerLink="/guides/{{ guide.id }}"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }"
        aria-disabled="true"
      >
        <h5 class="mb-1">{{ guide.title }}</h5>
      </a>
    </div>
    <div class="w-100">
      <small *ngIf="guide.gameTitle" class="text-muted">Game: {{ guide.gameTitle }}</small>
      <small *ngIf="guide.gameTitle" class="text-muted"> | </small>
      <small class="text-muted">Created by: {{ guide.author }}</small>
      <small class="text-muted"> | </small>
      <small class="text-muted">Created on: {{ guide.releaseDate | date: 'medium' }}</small>
      <small *ngIf="guide.lastUpdated" class="text-muted"> | </small>
      <small *ngIf="guide.lastUpdated" class="text-muted"
        >Last updated: {{ guide.lastUpdated | date: 'medium' }}</small
      >
    </div>
    <div class="w-100">
      <p class="mb-1 text-muted">
        {{ guide.content.length > 60 ? (guide.content | slice: 0:60) + '...' : guide.content }}
      </p>
    </div>
  </div>
</div>
