<div *ngIf="guide">
  <div class="w-100 justify-content-center">
    <app-rating [ratings]="guide.ratings" [guideId]="guide.id"></app-rating>
    <h3 class="mb-1">{{ guide.title }}</h3>
  </div>
  <div class="w-100">
    <small *ngIf="guide.gameTitle" class="text-muted">Game: {{ guide.gameTitle }}</small>
    <small *ngIf="guide.gameTitle" class="text-muted"> | </small>
    <small class="text-muted">Created by: {{ guide.author }}</small>
    <small class="text-muted"> | </small>
    <small class="text-muted">Created on: {{ guide.releaseDate | date: 'medium' }}</small>
    <small *ngIf="guide.lastUpdated" class="text-muted"> | </small>
    <small *ngIf="guide.lastUpdated" class="text-muted"
      >Last updated: {{ guide.lastUpdated | date: 'medium' }}</small
    >
    <small *ngIf="userId == guide.authorId" class="text-muted"> | </small>
    <small
      *ngIf="userId == guide.authorId"
      class="btn-link btn-mimic"
      routerLink="/guides/update/{{ guide.id }}"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      >Update</small
    >
    <small *ngIf="userId == guide.authorId" class="text-muted"> | </small>
    <small *ngIf="userId == guide.authorId" class="btn-link btn-mimic" (click)="remove()">Remove</small>
  </div>
  <div class="w-100">
    <p class="mb-1 text-muted">{{ guide.content }}</p>
  </div>
  <app-create-comment [guideId]="guide.id"></app-create-comment>
  <app-comments [comments]="guide.comments"></app-comments>
</div>
<button class="btn btn-outline-dark btn-back" (click)="goBack()">Back</button>
