<div class="btn-reply" (click)="toggleVisibility()">reply</div>
<form [formGroup]="createCommentForm" (ngSubmit)="createComment()" [hidden]="!visible">
  <div class="form-group">
    <div *ngIf="createCommentForm.controls.content.errors?.required && throwError" class="text-danger">
      * content is required.
    </div>
    <textarea class="form-control" formControlName="content" rows="3"></textarea>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-outline-dark" value="Submit" />
  </div>
</form>
