<div class="arrow-up" [ngClass]="{ active: userHasUpvote }" (click)="vote(1)"></div>
<div
  class="rating"
  data-toggle="tooltip"
  data-placement="top"
  title="{{ upvotes }} upvotes
{{ downvotes }} downvotes"
>
  {{ getRating() }}
</div>
<div class="arrow-down" [ngClass]="{ active: userHasDownvote }" (click)="vote(-1)"></div>
