.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #969696;
  cursor: pointer;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #969696;
  cursor: pointer;
}

.arrow-down.active {
  border-top-color: royalblue;
}

.arrow-up.active {
  border-bottom-color: orangered;
}

.rating {
  width: 20px;
  text-align: center;
}

div {
  margin-right: 10px;
}

.tooltip-inner {
  white-space: pre-wrap;
}
