<div class="comment-container" *ngFor="let comment of comments">
  <div class="w-100">
    <h6 class="mb-1">{{ comment.author.username }}</h6>
    <small class="text-muted">Created on {{ comment.creationDate | date: 'medium' }}</small>
    <small class="text-muted" *ngIf="comment.lastUpdated"> | </small>
    <small class="text-muted" *ngIf="comment.lastUpdated"
      >Last updated on {{ comment.lastUpdated | date: 'medium' }}</small
    >
    <small *ngIf="userId == comment.author._id" class="text-muted"> | </small>
    <small
      *ngIf="userId == comment.author._id"
      class="btn-link btn-mimic"
      (click)="updateCommentToggle(comment.id)"
      >Update</small
    >
    <small *ngIf="userId == comment.author._id" class="text-muted"> | </small>
    <small *ngIf="userId == comment.author._id" class="btn-link btn-mimic" (click)="deleteComment(comment.id)"
      >Remove</small
    >
  </div>
  <div class="w-100">
    <p class="mb-1 text-muted" [hidden]="updateActive[comment.id]">{{ comment.content }}</p>
    <app-update-comment
      [hidden]="!updateActive[comment.id]"
      [commentId]="comment.id"
      [content]="comment.content"
      (updated)="updateCommentToggle(comment.id)"
    ></app-update-comment>
  </div>
  <app-create-comment [parentCommentId]="comment.id" [guideId]="comment.guide"></app-create-comment>
  <app-comments [comments]="comment.children"></app-comments>
</div>
