h6 {
  display: inline-block;
  margin-right: 10px;
}

.comment-container {
  border: 2px solid rgba(200, 200, 200, 0.3);
  padding: 10px;
}

.comment-container .comment-container {
  margin-top: 5px;
}

.comment-container div:not(:last-child) {
  margin-bottom: 5px;
}

.btn-mimic {
  user-select: none;
}

.btn-mimic:hover {
  cursor: pointer;
}
