<form [formGroup]="updateCommentForm" (ngSubmit)="updateComment()">
  <div class="form-group">
    <div *ngIf="updateCommentForm.controls.content.errors?.required && throwError" class="text-danger">
      * content is required.
    </div>
    <textarea class="form-control" formControlName="content" rows="3"></textarea>
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-outline-dark" value="Submit" />
  </div>
</form>
